.outer-box {
    border: solid;
    margin: 15%;
    padding-bottom: 20%;
}
.inner-box {
    // border: solid;
    margin: 13% 20%;
    // padding: 20%;
    width: fit-content;
    height: fit-content;
}
p {
    text-align: center;
}
img {
    border: solid;
}